<div class="p-5 mb-4 bg-body-tertiary rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">About Me!</h1>
    <p class="col-md-12 fs-4">
      Hi, I’m Sai Kiran! I’m a student passionate about technology, design, and
      creativity. I’m currently diving into web development with Angular,
      exploring JavaScript frameworks, and building projects that challenge my
      skills.
    </p>
    <p class="col-md-12 fs-4">
      When I’m not coding, I enjoy sketching, filmmaking, and
      experimenting with VFX to bring my creative ideas to life. I’m also a
      guitarist, always exploring new music and playing for relaxation and fun.
      Whether it’s creating visual art or telling stories through film, I’m
      always looking for ways to challenge myself and learn something new.
      Learning, creating, and exploring new horizons are what keep me excited
      about the future.
    </p>
    <button class="btn btn-primary btn-lg" type="button"  onclick="window.open('https://www.instagram.com/saikirankasi', '_blank')">Follow me</button>
  </div>
</div>
